bg-i{
    /* background-image: url('../../../../Images/bannerbackground.png'); */

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: cover;
}